/* Use this file to use your own styles*/

/* TED'S ADJUSTMENTS */

/* fonts */
.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* textual adjustments */
.nameheader {
	color: #ed583f;
	text-align: left;
	font-family: "DM Serif Display", serif;
}

.bio-details {
	color:#ed583f;
	text-align: left;
	font-style: italic;
	font-family: "DM Serif Display", serif;
}

.professionalexperience {
	color: #f8b3cc;
	margin-left: -1em;
	width: 1em;
	font-family: "DM Serif Display", serif;
}

.education {
	color: #f8b3cc;
	margin-left: -1em;
	width: 1em;
	font-family: "DM Serif Display", serif;
}

/* Styles for contact */
.contact {
	color: #f3e7d8;
	text-align: left;
	font-family: "DM Serif Display", serif;
}

.contact-icon {
	height: 1em;
	flex-basis: 1em;
}

.lanuages {
	color: #f3e7d8;
	text-align: left;
	font-family: "DM Serif Display", serif;
}

.skills {
	color: #f3e7d8;
	text-align: left;
	font-family: "DM Serif Display", serif;
}

.hobbies {
	color: #f3e7d8;
	text-align: left;
	font-family: "DM Serif Display", serif;
}

a:link {
color: #f3e7d8;
}

a:visited {
color: #3f8b3c;
}

a:hover {
color: #f3a732;
background-color: pink;
}




/* school edit */
/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #f3e7d8;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #c7b65d;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #f3a732;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}


